# Virtual Environment
venv/
ENV/
env/
.venv
.venv312
.venv39
.venv310
.venv311/

# Data folders (too large to push)
data/
results/

# Image & output files
*.csv
*.png
*.jpg
*.log

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.so
*.egg-info/

# Build
build/
dist/
develop-eggs/

# IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/